.card {
  display: flex;
  flex-direction: column;
  width: 217px;
  height: 217px;
  padding: 14px 16px;
  background: #EBEBEB;
  cursor: pointer;

    &-image {
      background: #C4C4C4;
      width: 100%;
      height: 60%;

    }

    &-description {

      &-subtitle {
        margin: 0;
      }
    }
}