.card {
  display: flex;
  flex-direction: column;
  width: 217px;
  height: 317px;
  padding: 14px 16px;
  background: #EBEBEB;
  cursor: pointer;
  margin-bottom: 18px;
  text-decoration: none;
  color: black;

    &-image {
      background: #C4C4C4;
      width: 100%;
      height: 75%;
      object-fit: fill;
    }

    &-description {
      text-decoration: none;
      padding-left: 8px;

      &-title {
        font-weight: bold;
        margin: 12px 0 18px 0;
      }

      &-subtitle {
        margin: 0;
      }
    }
}