.login {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  background: #FAFAFA;
  padding: 30px;

  &-container {
    width: 70%;
    margin: auto auto;

    &-email {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 15px 20px;
      border: none;
      outline: none;
      background: #ECECEC;
      margin-bottom: 60px;
      cursor: pointer;

      &-title {
        font-size: 12px;
        color: #A0A0A0;
        margin-bottom: 8px;
      }

      &-value {
        border: none;
        outline: none;
        background: inherit;
        font-size: 12px;
        padding: 0;
      }
    }

    &-password {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 15px 20px;
      border: none;
      outline: none;
      background: #ECECEC;
      cursor: pointer;
      margin-bottom: 49px;

      &-title {
        font-size: 12px;
        color: #A0A0A0;
        margin-bottom: 8px;
      }

      &-value {
        border: none;
        outline: none;
        background: inherit;
        font-size: 12px;
        padding: 0;
      }
    }

    &-button_disabled {
      margin: 0 auto;
      width: 96px;
      height: 96px;
      border-radius: 100px;
      background-image: url("../images/Group 19.svg");
      opacity: 0.5;
    }

    &-button {
      margin: 0 auto;
      width: 96px;
      height: 96px;
      border-radius: 100px;
      background-image: url("../images/Group 19.svg");
      cursor: pointer;
    }
  }
}