select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.navigation {
  width: 20%;
  height: 100%;
  background: #FAFAFA;
  padding: 30px;


  &-search {
    width: 100%;
    padding: 20px 0;
    border: none;
    outline: none;
    background: #ECECEC;
    cursor: pointer;
    z-index: 100;
    margin-bottom: 60px;

    &-value {
      padding: 0 10px;
      font-size: 16px;
      font-weight: bold;
    }

    &-list {
      padding: 0 10px;

      &-input {
        width: 100%;
        outline: none;
        border: none;
        background: inherit;
        margin: 24px 0;
      }

      &-subtypes {
        max-height: 300px;
        overflow: auto;

        &-item {
          padding: 4px 0;
          border-bottom: 1px solid lightgray;
        }
      }
    }
  }
}