select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.navigation {
  width: 20%;
  height: 100%;
  background: #FAFAFA;
  padding: 30px;

  &-type_search {
    width: 100%;
    padding: 20px 10px;
    border: none;
    outline: none;
    background: #ECECEC;
    margin-bottom: 60px;
    cursor: pointer;
  }

  &-subtype_search {
    width: 100%;
    padding: 20px 10px;
    border: none;
    outline: none;
    background: #ECECEC;
    cursor: pointer;
  }
}